@model List<DesignPatternAssignmentUI.Models.Car>
@{
    ViewBag.Title = "Saved";
}

<h2>Booked Items</h2>
<br />
<br />
<br />
<hr />
<table class="table table-responsive table-striped table-bordered">
    <thead>
        <tr>
            <th style="background-color: yellow; color: blue">Name</th>
            <th style="background-color: yellow; color: blue">Brand</th>
            <th style="background-color: yellow; color: blue">Model</th>
            <th style="background-color: yellow; color: blue">Colour</th>
            <th style="background-color: yellow; color: blue">Price</th>
            <th style="background-color: yellow; color: blue">Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.CarName</td>
                <td>@i.CarBrandName</td>
                <td>@i.CarModel</td>
                <td>@i.CarColour</td>
                <td>@i.CarPrice</td>
                <td>@i.CarType</td>
            </tr>
        }
    </tbody>
</table>

